<?xml version="1.0"?>

<model>
  <name>Ballast tank final</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Marcin Zajaczkowski</name>
    <email>marcinus89@gmail.com</email>
  </author>

  <description>
    This is the model of a ballast tank, 
    made for the purpose of the Master Thesis 2020.
  </description>

</model>
